<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-input id="nombre" type="text" fill="solid" label="Nombre" labelPlacement="floating" required
            name="nombre" formControlName="nombre"></ion-input>
        </ion-row>

        <ion-row class="error-message">
          <small *ngFor="let validation of validation_messages.nombre">
            <div class="error" *ngIf="isSubmitted && registerForm.get('nombre')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-input id="correo" type="email" fill="solid" label="Correo Electrónico" labelPlacement="floating"
            required name="correo" formControlName="correo"></ion-input>
        </ion-row>

        <ion-row class="error-message">
          <small *ngFor="let validation of validation_messages.correo">
            <div class="error" *ngIf="isSubmitted && registerForm.get('correo')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-input id="clave" type="password" fill="solid" label="Contraseña" labelPlacement="floating" required
            [clearInput]="true" formControlName="clave" name="clave" clearOnEdit="false"></ion-input>
        </ion-row>

        <ion-row class="error-message">
          <small *ngFor="let validation of validation_messages.clave">
            <div class="error" *ngIf="isSubmitted && registerForm.get('clave')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <ion-row>
          <ion-select aria-label="Pregunta secreta" interface="popover" placeholder="Selecciona una pregunta"
            formControlName="preguntaSecreta">
            <ion-select-option value="preg1">¿Cómo se llamó tu primera mascota?</ion-select-option>
            <ion-select-option value="preg2">¿Cómo se llama tu primera pareja?</ion-select-option>
            <ion-select-option value="preg3">¿Cuál es tu modelo de tanque favorito?</ion-select-option>
          </ion-select>
        </ion-row>

        <ion-row>
          <ion-input id="resp_secreta" type="text" fill="solid" label="Respuesta" labelPlacement="floating" required
            [clearInput]="true" formControlName="respuestaSecreta" name="respuestaSecreta"></ion-input>
        </ion-row>

        <ion-row class="error-message">
          <small *ngFor="let validation of validation_messages.respuestaSecreta">
            <div class="error" *ngIf="isSubmitted && registerForm.get('respuestaSecreta')?.hasError(validation.type)">
              {{ validation.message }}
            </div>
          </small>
        </ion-row>

        <div id="btn_login">
          <ion-row text-align="center">
            <ion-col size="12">
              <ion-button type="submit" fill="outline" expand="full" shape="round">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
